#!/usr/bin/env ruby
require "rubygems"
require "bundler/setup"
require 'compass'

Compass.add_project_configuration('compass.rb')

## Compilers and Routes that should match but not do anything
compile('/assets/stylesheets/modules/*/') { }
route('/assets/stylesheets/modules/*/') { }
compile('/assets/stylesheets/partials/*/') { }
route('/assets/stylesheets/partials/*/') { }
compile('/assets/javascript/*/') { }
compile('/favicon') { }
compile('/assets/images/*/') { }

compile '/assets/stylesheets/style' do
  filter :sass, Compass.sass_engine_options
end

### This is how you can compile to many files using reps
compile /(\d+\.html)/, :rep => :naked do
  puts item[:content_filename].gsub(/^content/, '')
  select_filter(item)
  layout 'default' unless item[:layout] == "none"
end



compile '*' do
  select_filter(item)
  layout 'default' unless item[:layout] == "none"
end

route '*', :rep => :naked do
  route_naked(item)
end

route '*' do
  if item.binary?
    # /foo/ -> /foo.ext
    item.identifier.chop + '.' + item[:extension]
  else
    # /foo/ -> /foo/index.html
    # item.identifier + 'index.html'
    route_path(item)
  end
end

layout '*', :haml, :format => :html5