#!/usr/bin/env ruby
require "rubygems"
require "bundler/setup"
require 'compass'

Compass.add_project_configuration('compass.rb')

## Compilers and Routes that should match but not do anything
compile('/assets/stylesheets/modules/*/') { }
route('/assets/stylesheets/modules/*/') { }
compile('/assets/stylesheets/partials/*/') { }
route('/assets/stylesheets/partials/*/') { }
compile('/assets/javascript/*/') { }
compile('/favicon') { }
compile('/assets/images/*/') { }

compile '/assets/stylesheets/style' do
  filter :sass, Compass.sass_engine_options
end

compile /batches\/\d+.*?/, :rep => :naked do
  select_filter(item)
  layout 'default' unless item[:layout] == "none"
end

compile '*' do
  select_filter(item)
  layout 'default' unless item[:layout] == "none"
end

route '*', :rep => :naked do
  route_naked(item)
end

route '*' do
  if item.binary?
    item.identifier.chop + '.' + item[:extension]
  else
    route_path(item)
  end
end

layout '*', :haml, :format => :html5