---
title: 7 Minutes to Heaven
kind: batch
id: 29
bjcp: 14b
batch:
  og: 1.079
  fg: 1.018
  abv: 8.1%
  srm: 30.5
  ferm_temp: 18c
  fermentables:
    - ['US 2-Row', 84.7%]
    - ['German Carafa Special II', 6.8%]
    - ['US Crystal 15l', 6.8%]
    - ['US Crystal 40l', 1.7%]
  hops:
    - ['US Warrior', 38.2, 90m]
    - ['US Warrior', 27.4, 30m]
    - ['US Citra', 18.4, 15m]
    - ['US Warrior', 17.3, 10m]
    - ['US Citra', 0, Dry Hopped]
    - ['US Cascade', 0, Dry Hopped]
  yeast:
    - ['White Labs WLP001 - California Ale']
  mash: 65c for 90m, raised to 77c for mash out
---

Our first attempt at a Cascadian IPA...