$blueprint-grid-columns: 24;
$blueprint-container-size: 950px;
$blueprint-grid-margin: 10px;

$blueprint-grid-width: ($blueprint-container-size + $blueprint-grid-margin) / $blueprint-grid-columns - $blueprint-grid-margin;

$twothirds: ceil(2 * $blueprint-grid-columns / 3);
$third: floor($blueprint-grid-columns / 3);
$center: $blueprint-grid-columns / 2;

html, body, .container {height: 100%;}

body {
  @include base-fonts;
  @include basic-typography;
  @include basic-links;
  @include container;
  
  background-color: $background-color;
  color: $font-color;
}

.showgrid {
  background: image_url('/assets/images/grid.png');
}

.center {
  text-align: center;
}

#reallybig {
  font-family: 'IM Fell DW Pica', serif;
  font-size: 18em;
  line-height: normal;
  margin-bottom: -50px;
}

#notsobig {
  font-family: 'IM Fell DW Pica', serif;
  font-size: 4em;
}

.statlegend {
  
}