---
---
!!!
%html
  %head
    %title
      -#TODO: Move to a helper
      - unless @item[:title] || @item[:title] == "false"
        Yeast Bay Brewery
      - else
        = "Yeast Bay Brewery : #{@item[:title]}"
    %link{ :href => "stylesheets/style.css", :rel => "stylesheet", :type => "text/css", :media => "screen" }
    %link{ :href=> "http://fonts.googleapis.com/css?family=IM+Fell+DW+Pica:regular,italic", :rel=>"stylesheet", type=>"text/css" }
    %script{ :src => "javascript/jquery.js", :type => "text/javascript" }
    %script{ :src => "javascript/yeastbay.js", :type => "text/javascript" }
    %script{ :src => "javascript/application.js", :type => "text/javascript" }
  %body
    = yield