!!!
%html
  %head
    %title
      = "Yeast Bay Brewery : #{@item[:title]}"
    %link{ :href => "stylesheets/style.css", :rel => "stylesheet", :type => "text/css", :media => "screen" }
    %script{ :src => "javascript/jquery.js", :type => "text/javascript" }
  %body
    = yield